@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

body{
    background-color: #202124;   
}

.navbar{
    
    width: calc(100% - 3em);
    height: 5em;
    background-color: #6aaa64;

    margin-bottom: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 1.5em;
    padding-right: 1.5em;

    color: white;

}

.menu{

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    gap: 1em;

}

.menu svg{
    width: 3em;
    height: 3em;

    cursor: pointer;
}

.menu #mode-label{
    font-size: 1.5em;
    font-weight: bold;

    width: 9em;
    user-select: none;
}

.words{

    display: grid;
    grid-template-columns: repeat(5, 20%);

    gap: 1em .2em;

}

.words > *{
    border: .0625em solid white;

    height: 1.3em;
    width: 1.3em;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 2em;
}

.letters{

    width: 20em;

    display: flex;
    flex-wrap: wrap;

    gap: .125em;
    justify-content: center;


}

.letters > *{
    border: .0625em solid white;

    height: .8em;
    width: .8em;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.4em;
    padding: .2em;
}

.letter-in-word{
    background-color: #d1b036;
    border: .0625em solid #d1b036;
}

.letter-right-spot{
    background-color: #6aaa64;
    border: .0625em solid #6aaa64;
}

#wrong{
    background-color: #e74c3c;
    color: white;
    padding: .5em;
    font-size: 1.3em;

    position: absolute;
    top: 1em;

    border-radius: .5em;

    transition: 100ms;
    opacity: 0;
}

#game-over{

    width: 20em;
    height: 13em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 1.5em;

    position: absolute;

    background-color: #202124;
    color: white;

}

#msg{

    font-size: 2em;

    padding-bottom: .2em;

}

#play-again{

    margin-top: 1em;
    padding: .7em;
    font-size: 1.2em;
    border-radius: .5em;
    border: none;
    cursor: pointer;

    background-color: #6aaa64;
    color: white;
    font-weight: bold;

    transition: 200ms;

}

#play-again:hover{
    transform: scale(1.1);
    background-color: #4d7d49;
    transition: 200ms;
}

.center-absolute{

    position: absolute;
    z-index: 2;
    top: 5em;
    
    height: calc(100vh - 7em);
    width: 100%;
    padding-bottom: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    backdrop-filter: brightness(50%) blur(.3em);

    opacity: 0;

}

@keyframes jump{
    0% {
        transform: translateY(0);
    }

    50%{
        transform: translateY(-1em);
    }

    100%{
        transform: translateY(0);
    }
}

/* Classes da responsividade */
.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1em;

    position: relative;

    /* border: 1px solid red; */
}
  
/* 2xl */
@media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
}
  
/* xl */
@media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }

}
  
/* lg */
@media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }

}
  
/* md */
@media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
}  

/* sm */
@media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
}
  
/* xs */
@media (max-width: 475px) {
    .container {
      width: 100%;
    }
}